

#logofont{
    font-size: 30px;
    font-family: fantasy;
    color: rgb(10, 32, 82);   
}
#abc{
background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(1, 187, 224));    
    box-shadow: 5px solid paleturquoise;
    width: full;
    height: 3rem;
    justify-content: space-evenly;
}


#navAllItem{
    font-size: 1.3rem;
    justify-content: flex-end;
    
    
}


#homenav:hover{
    color: green;
}
#rateingg{
    border-radius: 4px;
    margin-top: 140px;
  margin-left: 80px;
    
    justify-content: flex-end;
}
.containerr{
    display: flex;
    flex-direction: row-reverse;
    
    justify-content: space-between;
    gap: 10px;
}

#one{
    width: 190px;
    height: 160px;
    background-image: linear-gradient(to right, rgba(0, 255, 89, 0.444), rgb(224, 1, 53));    
    justify-items: center;
    border-radius: 4px;
}
#one:hover{
    transform: scale(1.05);
    cursor: pointer;
    filter: saturate(300%);
    box-shadow: 0.2rem .2rem #0006;
    transition: ease-in-out;
    transition-duration: 1s;
    rotate: 360deg;
}
#two{
    width: 190px;
    height: 160px;
    background-image: linear-gradient(to right, rgba(0, 81, 255, 0.444), rgb(1, 224, 1));  
    justify-items: center;
    border-radius: 4px;
}
#two:hover{
    transform: scale(1.05);
    cursor: pointer;
    filter: saturate(300%);
    box-shadow: 0.2rem .2rem #0006;
    transition: ease-in-out;
    transition-duration: 1s;
    rotate: 360deg;
}
#threee{
    width: 190px;
    height: 160px;
    background-image: linear-gradient(to right, rgba(154, 80, 128, 0.444), rgb(1, 224, 131));  
    justify-items: center;
   
    border-radius: 4px;
}
#threee:hover{
    transform: scale(1.05);
    cursor: pointer;
    filter: saturate(300%);
    box-shadow: 0.2rem .2rem #0006;
    transition: ease-in-out;
    transition-duration: 1s;
    rotate: 360deg;
}

#reviewicon{
    background-image: url(review.png);
    mix-blend-mode: multiply;
    filter: contrast(2);
    background-size: cover;
    width: 70px;
    height: 70px;
}

#sitevisit{
    background-image: url(images\ \(2\)[1].png);
    mix-blend-mode: multiply;
    filter: contrast(2);
    background-size: cover;
    width: 70px;
    height: 70px;
}

#Totalcom{
    background-image: url(images\ \(3\)[1]\ \(1\).png);
    mix-blend-mode: multiply;
    filter: contrast(10);
    background-size: cover;
    width: 70px;
    height: 70px;
}

.team{
    text-align: center;

}
 #secondImage{
    width: 170px;
    height: 220px;
    background-image: url('team/abhi.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5); /* Decrease brightness to 50% */
    transition: filter 0.3s ease;
   }


  #firstImage{
    width: 200px;
    height: 210px;
    background-image: url('team/1.png');
    background-size: cover;
    background-position: center;


  }

  #thirdImage{
    width: 260px;
    height: 290px;
    background-image: url('team/altamash.png');
    background-position: bottom;
    background-size: cover;
    margin-bottom: 50px;
    filter: brightness(0.3);
    transition: filter 0.3s ease;
  }
  #forthImage{
    width: 160px;
    height: 240px;
    background-image: url('team/sada.png');
    background-position: bottom;
    background-size: cover;
    filter: brightness(0.3);
    transition: filter 0.3s ease;
  }
  .animated-thing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
  }
  
  .card {
    position: relative;
    height: 300px;
    width: 230px;
  }
  .card:nth-child(2) {
    filter: hue-rotate(300deg) brightness(1.3);
  }
  .card:nth-child(3) {
    filter: hue-rotate(200deg) brightness(1.5);
  }
  .card:nth-child(4) {
    filter: hue-rotate(60deg) brightness(3);
  }
  .card .boxshadow {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    transform: scale(0.8);
    box-shadow: red 0px 30px 70px 0px;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .card .main {
    width: 230px;
    height: 300px;
    overflow: hidden;
    background: red;
    background: linear-gradient(0deg, #3e0000 0%, red 60%, #3e0000 100%);
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 40px, 100% calc(100% - 40px), calc(100% - 40px) 100%, 40px 100%, 0 calc(100% - 40px));
    box-shadow: red 0px 7px 29px 0px;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .card .main .top {
    position: absolute;
    top: 0px;
    left: 0;
    width: 0px;
    height: 0px;
    z-index: 2;
    border-top: 115px solid black;
    border-left: 115px solid transparent;
    border-right: 115px solid transparent;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .card .main .side {
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateX(-50%);
    height: 101%;
    background: black;
    clip-path: polygon(0% 0%, 50% 0, 95% 45%, 100% 100%, 0% 100%);
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s;
  }
  .card .main .left {
    left: 0;
  }
  .card .main .right {
    right: 0;
    transform: translateX(50%) scale(-1, 1);
  }
  .card .main .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-out 0s;
  }
  .card .main .button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .card .main .button-container .button {
    position: absolute;
    transform: translateX(-50%);
    padding: 5px 10px;
    clip-path: polygon(0 0, 100% 0, 81% 100%, 21% 100%);
    background: black;
    border: none;
    color: white;
    display: grid;
    place-content: center;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .card .main .button-container .button .svg {
    width: 15px;
    transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .card .main .button-container .button:nth-child(1) {
    bottom: 300px;
    transition-delay: 0.4s;
  }
  .card .main .button-container .button:nth-child(2) {
    bottom: 300px;
    transition-delay: 0.6s;
  }
  .card .main .button-container .button:nth-child(3) {
    bottom: 300px;
    transition-delay: 0.8s;
  }
  .card .main .button-container .button:hover .svg {
    transform: scale(1.2);
  }
  .card .main .button-container .button:active .svg {
    transform: scale(0.7);
  }
  
  .card:hover .main {
    transform: scale(1.1);
  }
  .card:hover .main .top {
    top: -50px;
  }
  .card:hover .main .left {
    left: -50px;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
  }
  .card:hover .main .right {
    right: -50px;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.1s;
  }
  .card:hover .main .title {
    opacity: 1;
    transition: all 0.2s ease-out 1.3s;
  }
  .card:hover .main .button-container .button:nth-child(1) {
    bottom: 80px;
    transition-delay: 0.8s;
  }
  .card:hover .main .button-container .button:nth-child(2) {
    bottom: 40px;
    transition-delay: 0.6s;
  }
  .card:hover .main .button-container .button:nth-child(3) {
    bottom: 0;
    transition-delay: 0.4s;
  }